<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | 花乃國</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-2 col-md-8">
          <h1 class="abouttitle">FlowerTimesへようこそ！</h1>
          <h3 class="about-text center">生け花の世界、このままだとやばい・・・がキッカケ</h3>
          <p class="text-center">大学1年から５年間続けた生け花。</p>
          <p class="text-center">社会人になり忙しさと転勤などを言い訳に５年間ほど休んでました</p>
          <p class="text-center">その間IT企業にて、テクノロジーによるイノベーションが起きるシーンに立ち会っていた中で</p>
          <p class="text-center">生け花の世界は6年前から変わっていない・・いや、変わっていたとしても分からないくらいの変化に感じました。</p>
          <p class="text-center">流派ごとに分断された情報など時代錯誤も甚だしいと感じてしまいました</p>
          <h1 class="abouttitle center">それなら！色んな流派の情報がまとまった生け花の総合サイト、作っちゃおう😆</h1>
          <p class="text center">ということで</p>
          <p class="text center">生け花の総合サイトを開設しました。</p>
          
        </div>
      </div>
    </div>
  
  </body>
</html>