<% provide(:title, "プライバシーポリシー") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | 花乃國</title>
  </head>
  <body>
    <h1>プライバシーポリシー</h1>
    <p>
    鋭意作成中
    </p>
  </body>
</html>