<h1>花</h1>

<p>おはよう<%= @user.name %></p>

<p>
いらっしゃい
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>