<!--yieldメソッドに渡すページタイトル-->
<% provide(:title, '新規登録') %>
<!--yieldメソッドに渡すページurl-->
<% provide(:url, signup_path) %>
<!--yieldメソッドに渡すボタンに表示する文字-->
<% provide(:button_text, t('アカウントを作成する')) %>
<h1>新規登録</h1>
 
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <!--フォームのパーシャルを呼び出し-->
    <%= render 'form' %>
  </div>
</div>