@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 60px;
  background-color: #EEEEEE;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #74cfae;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

.navbar-inverse　{
  color: #EEEEEE;
  
}

.navbar-nav :hover{
  color: #74cfae;
  background-color: #74cfae;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* ユーザー登録画面 */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* Posts index */

.post-index-wrapper {
  padding-top: 70px;
  background-color: #fff;
  .post-index-single {
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    border: 1px solid #e6ecf0;
    border-radius: 3px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    
    .post-author {
      padding-right: 20px;
      padding-left: 20px;
    }

    .post-text {
      padding-right: 20px;
      padding-left: 20px;
    }

    img {
      margin-top: 10px;
      margin-bottom: 20px;
      width: 100%;
    }

    .post-index-icon {
      width: 35px;
      height: 30px;
      margin-left: 20px;
    }
  }
}

.like-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #808080; 
 margin-left: 20px;
 }

.unlike-btn {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #e54747;
 margin-left: 20px;
 }

.fa-comment {
 width: 25px;
 height: 30px;
 font-size: 25px;
 color: #808080; 
 margin-left: 20px;
}
 
 /* Home画面 */
 
.featurette {
 padding: 30px 15px; 
 box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
 margin: 20px 0px;
 }
 
 .featurette-text {
   text-align: center;
 }
 
.featurette-top {
 padding: 30px 15px; 
 box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
 margin: 20px 0px;
 } 
 
 
.featurette-heading　{
 color: #74cfae;
 text-align: center;
 }
 
.h2 {
  color: #74cfae;
}
 
 .featurette-image {
  width: 300px;
  height: 300px;
 }

// .featurette-divider {
//   margin: 40px 0px;
//   color: #333333;
// }

.featurette-top {
  margin-top: 50px;
}

.btn-gradient-radius {
  text-align: center;
  width: 300px;
  height: 100px;
  display: inline-block;
  padding: 7px 20px;
  border-radius: 25px;
  border: solid 2px #74cfae;
  text-decoration: none;
  color: #74cfae;
  background-color: white;
  transition: .4s;
  display: flex;
}

.btn-gradient-radius:hover {
  color: white;
}

.detail-link {
  margin: auto;
  
}

 /* ログイン画面 */
 
 
.fab {
 color: #FFC312;
 font-size: 80px;
 margin: 0px 0px 0px 10px;
}

.login-title {
  color: #444;
	font-size: 12px;
	display: flex;
	align-items: center;
}

.login-title:before, .login-title:after {
	content: "";
	flex-grow: 1;
	height: 1px;
	background: #444;
	display: block;
}
.login-title:before {
	margin-right: .4em;
}
.login-title:after {
	margin-left: .4em;
}


 /* 検索画面 */
.exhibition-image {
  width: 100%;
}

.search_result_number {
  margin: 10px 0px;
}

.search-field {
  margin: 15px 0px;
}

.search-form {
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #74cfae;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.col-md-6.search_result {

  padding: 20px;
  font-weight: bold;
  color: #5d627b;/*文字色*/
  background: #FFF;

}

// .search_result_contents {
//   padding: 0.5em 0.5em;
//   margin: 10px 10px;
//   border: solid 3px #6091d3;/*線*/
//   border-radius: 10px;/*角の丸み*/
// }

.search_result_contents {
  padding: 0.5em 1em;
　margin: 2em 0;
　background: white;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

.events_paginate {
  text-align: center;
}

.btn-flat-border {
  display: inline-block;
  padding: 0.3em 1em;
  margin-top: 10px;
  text-decoration: none;
  color: #74cfae;
  border: solid 2px #74cfae;
  border-radius: 3px;
  transition: .4s;
}

.btn-flat-border:hover {
  background: #74cfae;
  color: white;
}

/* イベント詳細画面 */ 

.exhibition-image {
  width: 100%;
  height: 200px;
}

#map {
  margin-top: 15px;
  height: 300px;
  width: 100%;
  }
  
.btn-flat-logo {
  position: relative;
  margin-top: 15px;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #74cfae;
  border: solid 2px #74cfae;
  background: white;
  transition: .4s;
}

.btn-flat-logo:hover {
  background: #74cfae;
  color: white;
}


/* 問い合わせ画面 */

.btn.btn-large {
  background: #74cfae;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

/* ABOUT画面 */

.abouttitle {
  color: #74cfae;
}

.bodyc {
  background-color: #fff;
}