<footer class="footer">
  <small>
    The <a href="https://railstutorial.jp/">花乃國</a>
    by <a href="http://www.google.com/">Hirofumi Kokubun</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contacts_path %></li>
      <li><%= link_to "Home", root_path %></li>
      
    </ul>
  </nav>
</footer>